.sideBar {
  width: 250px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
  padding-top: 20px;
}

.divider {
  width: 66.66%;
  height: 1px;
  background-color: #333;
  margin: 20px auto;
}
