.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.notFoundContainer h1 {
  font-size: 2rem;
  color: #333;
}

.notFoundContainer p {
  font-size: 1rem;
  color: #666;
}

.notFoundContainer a {
  margin-top: 20px;
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}